.button {
  margin-block: 10px;
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  border-radius: 5%;
  color: black;
  font-weight: bold;
}
