.button {
  margin-block: 10px;
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  color: black;
  font-weight: bold;
  transition: 1s;
  font-weight: 400;
}

.button:hover {
  /* transform: scale(1.05); */
  transition: 1s;
  border: 1px solid var(--primary);
  color: var(--primary);
  /* box-shadow: 1px 1px 1px 0 black; */
}
