.image-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 20%;
  margin: 20px;
  font-size: 14px;
}

.image-card img {
  border-radius: 10px;
  padding: 2px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: linear 0.5s;
}

.selected {
  border: 2px solid var(--primary) !important;
  transition: linear 0.5s;
}

.image-card-filename {
  font-weight: bold;
}

.truncate {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.image-card-size {
  color: var(--secondary);
}
